# Compiled sources
###################
*.o
*.so
vt-model/build/CMakeFiles/
#vt-model/vt-model/build/vocal_tract # executable
src/vt-model/build/CMakeCache.txt
src/vt-model/build/Makefile
src/vt-model/build/vocal_tract 
src/vt-model/build/*
src/yarpsim/build/*
analysis/manifolds/timit/*
analysis/data_old/*
build/*
data/*
bin/*
python/data/*
*/.ropeproject/*

# python compiled files
#######################
*.pyc


# vim swap files
################
*.swp

# Other temp files
*~

# OSX thumbnails
*.DS_STORE

# X-Code
xcuserdata/

# VT log files
################
*.log
*.mat
*.fig
*.m~
*.prim
*.alog

# Video/audio files
###################
*.avi
