# Compiled sources
###################
*.o
vt-model/vt-model/build/CMakeFiles/
#vt-model/vt-model/build/vocal_tract # executable
vt-model/vt-model/build/CMakeCache.txt
vt-model/vt-model/build/Makefile
vt-model/vt-model/build/vocal_tract


# vim swap files
################
*.swp

# OSX thumbnails
*.DS_STORE

# X-Code
xcuserdata/
