# Compiled sources
###################
*.o
vt-model/build/CMakeFiles/
#vt-model/vt-model/build/vocal_tract # executable
vt-model/build/CMakeCache.txt
vt-model/build/Makefile
vt-model/build/vocal_tract 
vt-model/build/*

# vim swap files
################
*.swp

# Other temp files
*~

# OSX thumbnails
*.DS_STORE

# X-Code
xcuserdata/

# VT log files
################
*.log
*.mat
*.fig
*.m~
*.prim
*.alog
*.rtf
*.eps
*converted-to.pdf
*.avi
*.wav
